<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="MysqlContext" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!--<plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="cn.xiaows.app.util.MyMapper"/>
        </plugin>-->

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/mydb"
                        userId="root"
                        password="123456"/>
        <!--cn.xiaows.applogs.dubbo.provider-->
        <!-- 对于生成的entity所在包 -->
        <javaModelGenerator targetPackage="cn.xiaows.applogs.dubbo.provider.entity" targetProject="dubbo-provider/src/main/java"/>
        <!-- 对于生成的mapper所在目录 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="dubbo-provider/src/main/resources"/>
        <!-- 配置mapper对应的java映射 -->
        <javaClientGenerator targetPackage="cn.xiaows.applogs.dubbo.provider.dao" targetProject="dubbo-provider/src/main/java" type="XMLMAPPER" />

		<!--<table tableName="%"/>&lt;!&ndash; 所有表 &ndash;&gt;-->
        <table tableName="user" mapperName="UserDao"/>
        <!--<table tableName="project" mapperName="ProjectDao"/>-->
        <!--...-->
    </context>
</generatorConfiguration>