<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="MysqlContext" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!--<plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="cn.xiaows.app.util.MyMapper"/>
        </plugin>-->

        <jdbcConnection driverClass="org.apache.hive.jdbc.HiveDriver"
                        connectionURL="jdbc:hive2://172.22.1.14:10000/mylog"
                        userId="root"
                        password=""/>

        <!-- 对于生成的pojo所在包 -->
        <javaModelGenerator targetProject="dubbo-provider/src/main/java" targetPackage="cn.xiaows.applogs.dubbo.provider.entity"/>
        <!-- 对于生成的mapper所在目录 -->
        <sqlMapGenerator targetProject="dubbo-provider/src/main/resources" targetPackage="mapper"/>
        <!-- 配置mapper对应的java映射 -->
        <javaClientGenerator targetProject="dubbo-provider/src/main/java" targetPackage="cn.xiaows.applogs.dubbo.provider.dao" type="XMLMAPPER"/>

        <table tableName="%"/><!-- 所有表 -->
        <!--<table tableName="user" mapperName="UserDao"/>-->
        <!--<table tableName="project" mapperName="ProjectDao"/>-->
        <!--...-->
    </context>
</generatorConfiguration>